@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap");
.header {
  background: center center no-repeat;
  background-image: url("../../resources/images/bg.png"),
    radial-gradient(#444, #111);
  background-attachment: fixed;
  color: white;
  height: 100vh;
  text-align: center;
  width: 100%;
}

#header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

#header__container > img {
  height: auto;
  padding: 10px;
  padding-right: 3%;
  width: 5%;
}

#header__container > nav {
  background: rgba(255, 251, 253, 0.09);
  backdrop-filter: blur(15.5px);
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12),
    inset 0px 4px 48px 5px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  margin-right: 15px;
  width: 100%;
}

#header__container > nav > ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#header__container > nav > ul > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

#header__container > nav > ul li {
  padding: 0rem 1rem;
}

li > a {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 33px;
  text-transform: uppercase;
  text-decoration-line: none;
}

.navbar__contactDiv li > a {
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
}

.arrowDown__icon {
  margin-left: 5px;
}

.active__link {
  padding-bottom: 2px;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.intro__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social_media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.social_media svg {
  text-decoration: none;
  margin: 0.5rem;
}

.company__intro {
  margin-top: 2rem;
}

.company__intro > h1 {
  font-family: "ZilapOrionPersonalUse";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 117%;
  text-align: center;
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.99;
  text-shadow: 0px 20px 20px rgb(0 0 0 / 50%);
}

.company__intro h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 170%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  width: 55%;
  margin: auto;
}

.company__intro button {
  box-sizing: border-box;
  padding: 16px 48px;
  gap: 10px;
  background: linear-gradient(90deg, #f9d423 0%, #e65c00 100%);
  border: 2px solid #ffffff;
  border-radius: 24px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 18px;
  color: #fff;
  margin-top: 10px;
}

.main {
  background: #1e1e1e;
}

.ramaera__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ramaera__heading__div h1 {
  font-family: "ZilapOrionPersonalUse";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 140%;
  background: linear-gradient(90deg, #ffe259 0%, #ffa751 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.ramaera__heading__div h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 145%;
  text-align: center;
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tech img {
  width: 50%;
  margin-top: -10rem;
}

.tech__div {
  display: flex;
  flex-direction: column-reverse;
}

.tech .techDesc__div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.techDesc__div div {
  display: flex;
  justify-content: space-around;
  width: 45%;
  flex-direction: column;
  align-items: flex-end;
}

.techDesc__div h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 75px;
  text-align: right;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.techDesc__div h2 > span {
  color: #a811da;
}

.techDesc__div h4 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 194%;
  text-align: right;
  color: #ffffff;
}

.techDesc__div .read__btn {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  border: 1px solid #a811da;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}

.techDesc__div .read__btn span {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 5px;
  top: 11px;
  right: -6px;
}

.techDesc__div .icon__span {
  background: linear-gradient(90deg, #bf5ae0 0%, #a811da 100%);
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
}

.techDesc__div .icon__span svg {
  color: #ffffff;
}

.accomd {
  margin-top: 5rem;
}

.accomd .accomd__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.accomd__container div {
  display: flex;
  justify-content: space-around;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
}

.accomd__container h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 75px;
  text-align: left;
  color: #ffe259;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.accomd__container h2 span {
  margin-top: -2rem;
}

.accomd__container h4 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 194%;
  text-align: left;
  color: #ffffff;
}

.accomd__container .read__btn {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  border: 1px solid #ffa751;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}

.accomd__container .read__btn span {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 5px;
  top: 11px;
  right: -6px;
}

.accomd__container .icon__span {
  background: linear-gradient(90deg, #ffe259 0%, #ffa751 100%);
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
}

.accomd__container .icon__span svg {
  color: #ffffff;
}

.pckg img {
  width: 50%;
  margin-top: -20rem;
}

.pckg__div {
  display: flex;
  flex-direction: column-reverse;
}

.pckg .pckgDesc__div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.pckgDesc__div div {
  display: flex;
  justify-content: space-around;
  width: 45%;
  flex-direction: column;
  align-items: flex-end;
}

.pckgDesc__div h2 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 75px;
  text-align: right;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pckgDesc__div h2 > span {
  color: #d6ae7b;
}

.pckgDesc__div h4 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 194%;
  text-align: right;
  color: #ffffff;
}

.pckgDesc__div .read__btn {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  border: 1px solid #d6ae7b;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
}

.pckgDesc__div .read__btn span {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 5px;
  top: 11px;
  right: -6px;
}

.pckgDesc__div .icon__span {
  background: linear-gradient(90deg, #eacda3 0%, #d6ae7b 100%),
    linear-gradient(0deg, #ffffff, #ffffff);

  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
}

.pckgDesc__div .icon__span svg {
  color: #ffffff;
}

